.claim-button{
  background-color: #C01722 !important;
  color: white ;
  font-Weight: bold !important;
  font-Size: 14px !important;
  border: none;
  padding: 8px 30px;
  border-Radius: 5px;
  cursor: pointer;
  display: flex;
  justify-Content: flex-end !important;
}